body {
   margin: 0;
   padding: 0;
   border: 0;
   width: 90%;
}

nav ul {
   display: flex;
   justify-content:space-between ;
   width: 100%;
   padding: 10px;
   list-style-type: none;
}

nav li:hover {
   transform: scaleY(1.5);
}

nav ul li{
   width: 100%;
   height: fit-content;
   background-color: lightgrey;
   text-align: center;
}

li:nth-of-type(5n+2) {
   background-color:  #0A89A6;
}

li:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

li:nth-of-type(5n+4) {
   background-color: #278C7A;
}

li:nth-of-type(5n) {
   background-color: #212121;
}

li:nth-of-type(5n+1) {
   background-color:  #93A603;
}

a {
   color: white;
   font-size: 16px;
   line-height: 50px;
   text-decoration: none;
}

@media screen and (max-width: 600px) {
   ul {
      flex-direction: column;

   li {
      width: 100%; 
      margin-right: 0; 
      margin-bottom: 5px; 
      }
   }
}