* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 900px;
    margin: 0 auto;
    
}
.main{
    float:left;
    width: 650px;
    height: 500px;
}

.aside{
    float:left;
    width: 200px;                 
    height: 500px;
}
.article{
    margin: 10px;
}
.image{
    margin: 20px;
    position: relative;
    object-fit: cover;
}

.titol{
    margin: 30px;
}
.contingut{
    margin:30px;
}
.menu{
    background-color: #4264A2;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
.menu:hover{
    background-color: red;
}