body {
   margin: 0;
   padding: 0;
   border: 0;
}

section {
   min-height: 100vh;
   width: 95%;
   justify-content: space-between;
}

div {
   background-color: lightgrey;
   /*Ex2 Mostrar 4 ítems per fila, establint l'amplada dels ítems
   width: 25%;*/

   /*Ex3 Afegir marges i centrar continguts 
   width: 23%;
   margin-bottom: 10px;
   margin-top: 10px;
   display: flex;
   height: 300px;
   */
   width: 33%;
   height: 24%;
   margin:10px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

/* https://www.materialpalette.com/green/lime */
/*
div:nth-of-type(5n+2) {
   background-color: #388E3C;
}

div:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

div:nth-of-type(5n+4) {
   background-color: #4CAF50;
}

div:nth-of-type(5n) {
   background-color: #212121;
}

div:nth-of-type(5n+1) {
   background-color: #CDDC39;
}
*/

/*https://color.adobe.com/es/create/image*/
div:nth-of-type(5n+2) {
   background-color:  #0A89A6;
}

div:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

div:nth-of-type(5n+4) {
   background-color: #278C7A;
}

div:nth-of-type(5n) {
   background-color: #212121;
   /*Ex4 Modificar mides. Que l'ítem 5 ocupi tota l'amplada
   flex-basis: 100%;*/
}

div:nth-of-type(5n+1) {
   background-color:  #93A603;
}

span {
   background-color: rgba(255, 255, 255, .5);
   border-radius: 50%;
   display: block;
   font-size: 48px;
   height: auto;
   line-height: 3em;
   text-align: center;
   width: 3em;
   transition: transform 0.4s ease;
   
   
}

/* Ex0 Ex0. Apliqueu una petita transformació als nombres quan el cursor passa per sobre. Gira i s’amplia */
span:hover{
   transform:rotate(40deg) scale(1.2) ; 
}

 
/* Ex1 Mostrar els ítems en vertical*/
section {

   display: flex;
   /*Ex2 Mostrar 4 ítems per fila, establint l'amplada dels ítems*/
   flex-wrap: wrap;

   /*Ex7 Centrar continguts. Provar amb 2 ítems. Afegir-ne més per veure el comportament.*/
   justify-content: center;
   
   /*Ex8. Canviar orientació i mida*/
   height: 100vh;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   
}

